<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>
			MAAP
		</title>
		<link rel="stylesheet" href="style.css" media="screen" type="text/css" />
	</head>
	<body>
		<div id="container-main">
			<div id="nav-top">
				<div id="nav-top-inner">
					<ul class="nav">
						<li>
							<a href="#">
								About</a>
						</li>
						<li>
							|
						</li>
						<li>
							<a href="#">
								Help</a>
						</li>
						<li>
							|
						</li>
						<li>
							<a href="#">
								Contact</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="masthead">
				<h1>
					<a href="#">
						MAAP</a>
				</h1>
				<div id="nav-tabs">
					<ul class="nav">
						<li>
							<a id="library" href="#">
								Library</a>
						</li>
						<li>
							<a id="lesson" href="#">
								Lesson Plans</a>
						</li>
						<li>
							<a id="places-selected" href="#">
								Places</a>
						</li>
						<li>
							<a id="home" href="#">
								Home</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="nav-actions">
				<div id="nav-actions-inner">
					<div class="action" id="action-print">
						<a href="#">
							<img id="print" src="images/icon_print.gif" alt="Print" />
						</a>
						<a href="#">
							Print This Page
						</a>
					</div>
					<div class="action" id="action-back">
						<a href="#">
							<img id="back" src="images/icon_navigate.gif" alt="Back" />
						</a>
						<a href="#">
							Back to Main Places Map
						</a>
					</div>
					<div class="action">
						| 
					</div>
					<div class="action" id="action-jump">
						Jump to &nbsp; 
						<form id="jumpmenu" action="#" method="get">
							<select>
								<option>
									Choose Place 
								</option>
							</select>
						</form>
					</div>
				</div>
			</div>
			<div id="container-content">
				<div id="container-content-inner">
<!-- START - Two-Column Layout -->
					<div id="two-column-right">
						<div id="two-column-right-inner">
						
							<div id="videowidget">
								<div class="video">
									<object width="300" height="244">
										<param name="movie" value="http://www.youtube.com/v/cf1-8CXp3vk&amp;rel=1" />
										<param name="wmode" value="transparent" />
										<embed src="http://www.youtube.com/v/cf1-8CXp3vk&amp;rel=1" type="application/x-shockwave-flash" wmode="transparent" width="300" height="244" />
									</object>
								</div>
								<div class="videocaption">
									<div class="title">
										Memories of the Tontine 
									</div>
									Marc Raymond recounts his own experiences in the historic coffee house. 
								</div>
							</div>
							
							<div id="mapwidgettabs">
								<a id="thenselected" href="#">
									Then
								</a>
								<a id="now" href="#">
									Now
								</a>
							</div>
							<div id="mapwidget">
								<div id="mapwidget-inner">
									<div class="maptext">
										In 1792, the New York Stock Exchange was located in the Tontine Coffee House at 82 Wall Street. Slave ships were registered here and a value was assigned to the Africans on board.
									</div>
									<div id="mapbox">
										<img src="images/sample_map.jpg" alt="Map" width="258" height="258" border="0" />
										<div class="mapzoom">
											<a href="#">
												Zoom</a>
										</div>
										<div class="mapcaption">
											Manhattan Island, circa 1895
										</div>
									</div>
									<div id="imagebox">
										<img src="images/sample_picture.jpg" alt="Map" width="258" height="167" border="0" />
										<div class="mapzoom">
											<a href="#">
												Zoom</a>
										</div>
										<div class="mapcaption">
											Tontine Coffee House, 1892 Painted by George Francis
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					<div id="two-column-left">
						<div id="two-column-left-inner">
						
							<h2>
								Tontine Coffee House
							</h2>
							<p>
								Across from the Meal Market, where enslaved workers could be hired or bought, was the Tontine Coffee House, home of the New York Stock Exchange. Powerbrokers of the day met in a room there to buy, sell, and trade. As soon as a ship's captain reached the harbor, this is where he came to register his cargo. The goods coming into New York in the 1790s included coffee, tea, sugar and molasses, fine furniture, cloth, cotton, and enslaved men, women, and children.
							</p>
							<p>
								The companies that insured, outfitted, and owned the boats used to carry Africans from their homelands to enslavement often traded on the stock market. The slave trade was big business and New Yorkers made huge profits from it long after slavery was made illegal in the state. The first and last New York slave trader to be executed was caught in April 1861, as the first shots of the Civil War were fired.
							</p>
							<p>
								The New York Stock Exchange has roots that go back to a spring day in 1792, when a group of 24 men met outside 68 Wall Street in the shade of a huge sycamore tree that locals called a buttonwood. They set down the rules they would trade by and called it the Buttonwood Agreement. Later that year, trading moved into a room on the second floor of the Tontine Coffee House, where it remained until 1817. In the words of its president, it was a place filled with underwriters, brokers, merchants, traders, and politicians; selling, purchasing, trafficking, or insuring; some reading, others eagerly inquiring the news. Everything was in motion; all was life, bustle and activity." It was also a place built on slavery.
							</p>
							
							<div class="extrasbox">
							
								<h3>
									Supplemental Media
								</h3>
								
								<div class="extra">
									<a href="#"><img class="extraicon" alt="" src="images/icon_video.gif" /></a>
									<div class="extratext"><a href="#">Video 1</a><br />A short description of this video could go here.</div>
								</div>
								
								<div class="extra">
									<a href="#"><img class="extraicon" alt="" src="images/icon_image.gif" /></a>
									<div class="extratext"><a href="#">Image 33</a><br />A short description of this image could go here.</div>
								</div>
								
								<div class="extra">
									<a href="#"><img class="extraicon" alt="" src="images/icon_text.gif" /></a>
									<div class="extratext"><a href="#">Text 43</a><br />A short description of this document could go here.</div>
								</div>
								
							
								<h3>
									Related Locations
								</h3>
								
								<div class="extra">
									<a href="#"><img class="extraicon" alt="" src="images/icon_place.gif" /></a>
									<div class="extratext"><a href="#">Meat Market</a><br />A short description of this location could go here.</div>
								</div>
								
								<div class="extra">
									<a href="#"><img class="extraicon" alt="" src="images/icon_place.gif" /></a>
									<div class="extratext"><a href="#">Execution Grounds</a><br />A short description of this location could go here.</div>
								</div>
								
							
								<h3>
									Lesson Plans that Include This Location
								</h3>
								
								<div class="extra">
									<a href="#"><img class="extraicon" alt="" src="images/icon_plan.gif" /></a>
									<div class="extratext"><a href="#">Lesson Plan 5</a><br />A short description of this lesson plan could go here.</div>
								</div>
								
							</div>
							
						</div>
					</div>
<!-- END - 2Two-Column Layout -->
<!-- START - One-Column Layout -->
<!--
                    
	                   <div id="one-column">
	                        <div id="one-column-inner">
	                        
	                        
	                             <h2>
	                                  Tontine Coffee House 
	                             </h2>
	                             <p>
	                                  Across from the Meal Market, where enslaved workers could be hired or bought, was the Tontine Coffee House, home of the New York Stock Exchange. Powerbrokers of the day met in a room there to buy, sell, and trade. As soon as a ship's captain reached the harbor, this is where he came to register his cargo. The goods coming into New York in the 1790s included coffee, tea, sugar and molasses, fine furniture, cloth, cotton, and enslaved men, women, and children. 
	                             </p>
	                             <p>
	                                  The companies that insured, outfitted, and owned the boats used to carry Africans from their homelands to enslavement often traded on the stock market. The slave trade was big business and New Yorkers made huge profits from it long after slavery was made illegal in the state. The first and last New York slave trader to be executed was caught in April 1861, as the first shots of the Civil War were fired. 
	                             </p>
	                             
	                             
	                        </div>
	                   </div>
	                   
	                   -->
<!-- END - One-Column Layout -->
				</div>
			</div>
			<br clear="all" />
			<div id="footer">
				<div id="footer-inner">
					<img src="images/partners.png" width="680" height="40" alt="Partners" usemap="#partners" />
					<map name="partners" id="partners">
						<area shape="rect" coords="587,1,678,39" href="http://www.cciny.net/" target="_blank" title="CCI" alt="CCI" />
						<area shape="rect" coords="362,10,567,33" href="http://www.tc.edu/" target="_blank" title="Teachers College" alt="Teachers College" />
						<area shape="rect" coords="162,7,330,34" href="http://www.jpmorganchase.com/cm/cs?pagename=Chase/Href&amp;urlname=jpmc/community/grants/educ" target="_blank" title="JPMorganChase" alt="JPMorganChase" />
						<area shape="rect" coords="6,3,132,33" href="http://ccnmtl.columbia.edu/" target="_blank" title="CCNMTL" alt="CCNMTL" />
					</map>
				</div>
			</div>
		</div>
	</body>
</html>
