<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>
			MAAP
		</title>
		<link rel="stylesheet" href="style.css" media="screen" type="text/css" />
	</head>
	<body>
		<div id="container-main">
			<div id="nav-top">
				<div id="nav-top-inner">
					<ul class="nav">
						<li>
							<a href="#">
								About</a>
						</li>
						<li>
							|
						</li>
						<li>
							<a href="#">
								Help</a>
						</li>
						<li>
							|
						</li>
						<li>
							<a href="#">
								Contact</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="masthead">
				<h1>
					<a href="#">
						MAAP</a>
				</h1>
				<div id="nav-tabs">
					<ul class="nav">
						<li>
							<a id="library" href="#">
								Library</a>
						</li>
						<li>
							<a id="lesson" href="#">
								Lesson Plans</a>
						</li>
						<li>
							<a id="places-selected" href="#">
								Places</a>
						</li>
						<li>
							<a id="home" href="#">
								Home</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="nav-actions">
				<div id="nav-actions-inner">
				  NAV ACTIONS HERE!!!!
				</div>
			</div>
			<div id="container-content">
				<div id="container-content-inner">

				  BODY HERE!!!!!!

				</div>
			</div>
			<br clear="all" />
			<div id="footer">
				<div id="footer-inner">
					<img src="/static/images/partners.png" width="680" height="40" alt="Partners" usemap="#partners" />
					<map name="partners" id="partners">
						<area shape="rect" coords="587,1,678,39" href="http://www.cciny.net/" target="_blank" title="CCI" alt="CCI" />
						<area shape="rect" coords="362,10,567,33" href="http://www.tc.edu/" target="_blank" title="Teachers College" alt="Teachers College" />
						<area shape="rect" coords="162,7,330,34" href="http://www.jpmorganchase.com/cm/cs?pagename=Chase/Href&amp;urlname=jpmc/community/grants/educ" target="_blank" title="JPMorganChase" alt="JPMorganChase" />
						<area shape="rect" coords="6,3,132,33" href="http://ccnmtl.columbia.edu/" target="_blank" title="CCNMTL" alt="CCNMTL" />
					</map>
				</div>
			</div>
		</div>
	</body>
</html>
